<html lang="en">
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <h1>Welcome to insta lite</h1>
    <a href="/signup">SignUp</a>
    <a href="/login">Login</a>
  </body>
</html>
