<html lang="en">

<head>
  <title>Home</title>
  <link rel="stylesheet" href="/css/home.css" />
</head>

<body>

  <%- include('./custom/home/header.ejs') %>

  <div class="container">
    <div class="main-container">
      <main>
        <!-- post sectoion -->
        <section>
          <%- include('./custom/home/stautus.ejs') %> 
          <%- include('./custom/home/post.ejs') %> 
        </section>
      </main>


      <section>
        <div class="user">
          <div class="data">
            <img class="avatar" src="image/status.jpg" alt="">
            <div class="info">
              <h6 class="name">
                vasaltech
              </h6>
              <p class="user-name">
                Vasal Tech (Software company)

              </p>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>


</body>

</html>