<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <h1>Sign Up</h1>
    <div class="form-container">
      <form action="/login" method="post">
        <input name="username" placeholder="Enter Username" required />
        <input name="password" placeholder="Enter Password" required />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
