<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign up</title>
    <link rel="stylesheet" href="css/signup.css" />
  </head>
  <body>
    <h1>Sign Up</h1>

    <form action="/register">
      <input name="name" placeholder="Enter Name" />
      <input name="email" placeholder="Enter Email" />
      <input name="username" placeholder="Enter Username" />
      <input name="password" placeholder="Enter Password" />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
