<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign up</title>
    <link rel="stylesheet" href="css/signup.css" />
  </head>
  <body>
    <h1>Sign Up</h1>

    <div class="form-container">
      <form action="/register" method="POST" enctype="multipart/form-data">
        <input name="name" placeholder="Enter Name" required />
        <input name="email" placeholder="Enter Email" required />
        <input name="userName" placeholder="Enter Username" required />
        <input name="password" placeholder="Enter Password" required />
        <input type="file" name="img" />
        <button type="submit">Register</button>
      </form>
    </div>
  </body>
</html>
