body{
    text-align: center;   
}

.form-container{
    display: flex;
    justify-content: center;

}
input{
    margin: 10px;
}
form{
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: center;
    
}