<div class="card">
    <div class="post">
        <!-- post image -->
        <div class="header">
            <div class="left-part">
                <img class="avatar" src="image/insta_dp.png" alt="">
                <p class="user-name">ghulam.hussain.joyo.official</p>
            </div>
            <div class="right-part"></div>
        </div>
        <!-- post image -->
        <div class="img">
            <img src="image/postImage.jpg" alt="">
        </div>


        <div class="footer-container">
            <!-- post like & comment -->
            <div class="btns">
                <div class="like-cmnt-shr">
                    <div class="like">
                        <%- include('../../../assets/svg/heart.svg') %>
                    </div>
                    <div class="comment">
                        <%- include('../../../assets/svg/comment.svg') %>
                    </div>
                    <div class="share">
                        <%- include('../../../assets/svg/share.svg') %>
                    </div>
                </div>
            </div>

            <!-- total likes -->
            <p class="total-likes">3 likes</p>

            <!-- post description -->
            <div class="description">
                <p>
                    <span class="user-name">Ghulam Hussain</span>
                    creative__programmer

                    💖 like 📤 Share 🔖 Save

                    Turn on post notification 🔔

                    feel free to drop your thoughts in the comments below 🙂

                    Dm for any web dev-related queries.

                    Hope you find it helpful ✌️

                    HASHTAGS:
                    #coderbyte #frontenddeveloper #podcasts #javascript #javascript30 #freecodecamp #webdevelopment
                    #developerpodcast #googlecode
                    #codewell #cssbattle #Programming #programminglife
                    #frontendmentor #programmingthings #programmingproblems #coding #codinglife #codingisfun
                    #codingproblems #developerspace #supportgoodpost #creativeprogrammer #html #css #javascript</p>
            </div>
            <!-- total comment -->
            <div class="total-comment">
                <a href="#">View all 24 comments</a>
            </div>
            <!-- top two comments -->
            <div class="top-two-comments">
            </div>
            <!-- time -->
            <p class="time">1 day ago</p>
        </div>
    </div>
</div>