<div class="profile-user">
    <div class="data">
        <div class="left">
            <img class="avatar" src="image/status.jpg" alt="">
            <div class="info">
                <p class="name">
                    vasaltech
                </p>
                <p class="user-name">
                    Vasal Tech (Software comp...
                </p>
            </div>
        </div>
        <div class="right">
            switch
        </div>
    </div>
</div>