<div class="card" style="margin-bottom: 5vh;">
    <div class="status">
        <div class="shape">
            <img class="avatar" src="image/status.jpg" alt="">
            <p class="user-name">
                ghulam..
            </p>
        </div>

        <div class="shape">
            <img class="avatar" src="image/status.jpg" alt="">
            <p class="user-name">
                ghulam..
            </p>
        </div>
    </div>
</div>