<div class="suggested-user">
    <div class="data">
      <div class="left">
        <img class="avatar" src="image/status.jpg" alt="">
        <div class="info">
          <p class="name">
            bilal khan
          </p>
          <p class="user-name">
            suggested for you

          </p>
        </div>
      </div>
      <div class="right">
        follow
      </div>
    </div>
  </div>